@import '../../../variables.scss';
.header-container{
    background-color: transparent;
    font-family: $font-family;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo-text{
    margin-left: 2%;
    color: $text-color-orange;
    margin-top: 6px;
}
.menu-item{
    color: $text-color-black;
    text-decoration: none;
    font-weight: 600;
}
.header-button{
    background: transparent;
    border-radius: 25px;
    color:  $text-color-orange;
    border: 1px solid;
    padding: 6px 20px;
    font-weight: 600;
}