<div class="container-fluid header-container">
    <div class="row">
        <!-- <div class="col-md-3 d-flex align-items-center">
            <img src="../../assets/logo.svg" alt="">
            <h5 class="logo-text">CODEPOD</h5>
        </div> -->
        <div class="col-md-3 d-flex align-items-center">
            <img src="../../assets/text-logo.svg" alt="">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-evenly">
            <a class="menu-item" href="#">ABOUT US</a>
            <a class="menu-item" href="#">BLOG</a>
            <a class="menu-item" href="#">CATEGORY</a>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <button class="header-button">Request Quote</button>
        </div>
    </div>
</div>